.contenedor{
    background: white;
    margin: auto;
   border: 3px solid black;
   
    max-width: 600px;
    max-height: 600px;   
   
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: flex-end;  
}

.item:first-child{
	background: red;
	width: 200px;
    height: 200px;
	color: white;
	font-size: 30px;
   
    display: flex;
    justify-content: center;
    align-items: center;
}
.item:nth-child(2){
	background: blue;
    text-decoration-color: white;
	width: 200px;
    height: 200px;
    color: white;
	font-size: 30px;  
   
    display: flex;
    justify-content: center;
    align-items: center;
}
.item:nth-child(3){
	background: green;
	width: 200px;
    height: 200px;
    color: white;
	font-size: 30px;
   
    display: flex;
    justify-content: center;
    align-items: center;
}